<h1>New Registrant Form</h1>

<%= form_for(@registrant) do |f| %>
  
  <%= render 'shared/errors', object: @registrant %>

  <fieldset>
    <legend>General Information</legend>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus: true, required: true %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, required: true %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, required: true %>
    </div>

    <div class="field">
      <%= f.label :phone_number %>
      <%= f.telephone_field :phone_number %>
    </div>

    <div class="field">
      <%= f.label :age_group %>
      <%= radio_button("registrant", "age_group", "1") %>
      <label for="registrant_age_group_1">30 or under</label>
      <%= radio_button("registrant", "age_group", "2") %>
      <label for="registrant_age_group_2">31 to 50</label>
      <%= radio_button("registrant", "age_group", "3") %>
      <label for="registrant_age_group_3">51 to 65</label>
      <%= radio_button("registrant", "age_group", "4") %>
      <label for="registrant_age_group_4">65+</label>
    </div>

    <div class="field">
      <%= f.label :how_heard, "How did you hear about Albert Beach?" %>
      <%= f.select :how_heard, Registrant::HOW_HEARD, prompt: "Pick one", required: true %>
    </div>
  </fieldset>
  <fieldset>
    <legend>Interests</legend>

  </fieldset>
  
  <!-- <button type="submit">Submit Form</button> -->
  <%= submit_tag "Sign me up!" %> |
  <%= link_to "Cancel", root_path %>

<% end %>

