<h1>New Registrant Form</h1>

<%= form_for(@registrant) do |f| %>
  
  <%= render 'shared/errors', object: @registrant %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name, autofocus: true %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br>
  <%= f.label :email %>
  <%= f.email_field :email, :placeholder => 'email' %>
  <br>
  <%= f.label :phone_number %>
  <%= f.telephone_field :phone_number, :placeholder => '555-555-5555'%>
  <br>
  <%= f.label :how_heard, "How did you hear about Albert Beach?" %>
  <%= f.select :how_heard, Registrant::HOW_HEARD, prompt: "Pick one" %>
  <br>
  <%= submit_tag "Sign me up!" %> |
  <%= link_to "Cancel", root_path %>

<% end %>

