<h1>New Registrant Form</h1>

<%= form_for(@registrant) do |f| %>
  
  <%= render 'shared/errors', object: @registrant %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name, autofocus: true, required: true %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name, required: true %>
  <br>
  <%= f.label :email %>
  <%= f.email_field :email, required: true %>
  <br>
  <%= f.label :phone_number %>
  <%= f.telephone_field :phone_number %>
  <br>
  <%= f.label :age_group %>

  <%= f.label :how_heard, "How did you hear about Albert Beach?" %>
  <%= f.select :how_heard, Registrant::HOW_HEARD, prompt: "Pick one", required: true %>
  <br>
  <%= submit_tag "Sign me up!" %> |
  <%= link_to "Cancel", root_path %>

<% end %>

