<section class="grid-100 mobile-grid-100" id="interest_section">

  <%= link_to(primary_residence_index_path) do %>
    <article class="grid-33 mobile-grid-100 interest">
        <%= image_tag("interests/happy_family_web.png") %>
      <hr>
      <div class="interest_content hide-on-mobile">
        <h3>Primary Residence</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc</p>
      </div>
      <div class="interest_content hide-on-desktop">
        <h3>Primary Residence</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc</p>
      </div>
    </article>
  <% end %>

  <%= link_to(vacation_home_index_path) do %>
    <article class="grid-33 mobile-grid-100 interest">
        <%= image_tag("interests/log_home.png") %>
      <hr>
      <div class="interest_content hide-on-mobile">
        <h3>Vacation Home</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc</p>
      </div>
      <div class="interest_content hide-on-desktop">
        <h3>Vacation Home</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc</p>
      </div>
    </article>
  <% end %>

  <%= link_to(retirement_living_index_path) do %>
    <article class="grid-33 mobile-grid-100 interest">
        <%= image_tag("interests/Happy_retirement.png") %>
      <hr>
      <div class="interest_content hide-on-mobile">
        <h3>Retirement Living</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc</p>
      </div>
      <div class="interest_content hide-on-desktop">
        <h3>Retirement Living</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc</p>
      </div>
    </article>
  <% end %>

</section>