<div class="grid-container">
  <div class=" grid-100 mobile-grid 100 footer_container">
    <ol class="social_media_link grid-50">
      <li class="grid-10"><a href="#"><%= image_tag("social_icons/Wooden_Button_Facebook.png")%></a></li>
      <li class="grid-10"><a href="#"><%= image_tag("social_icons/Wooden_Button_Twitter.png") %></a></li>
      <li class="grid-10"><a href="#"><%= image_tag("social_icons/Wooden_Button_Pinterest.png")%></a></li>
      <li class="grid-10"><a href="#"><%= image_tag("social_icons/Wooden_Button_YouTube.png")%></a></li>
    </ol>
    <div class="grid-50 copyright">
      &copy Alberta Beach Estates <%= Time.new.year %>
    </div>
  </div>
</div>