<!DOCTYPE html>
<html>
<head>
  <title><%= @header %></title>
  <link href='http://fonts.googleapis.com/css?family=Chau+Philomene+One|Marmelad' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>

  <nav>
    <%= render 'layouts/navigation' %>
  </nav>

  <div id="wrapper">
    
    
    <%= render 'layouts/flash' %>

    <%= yield %>

  </div>

</body>
</html>
